@{
    ViewBag.Titulo = "Página Inicial";
}

<style>
    .btn-menu {
        min-width: 220px; 
        text-align: center;
    }
</style>

<div class="row g-5 align-items-center justify-content-center mt-4">
    <div class="col order-1 order-lg-0">
        <h2 class="text-primary fs-1 fw-bold">Seja bem-vindo(a)!</h2>

        <p class="fs-4 mt-3">
            O Controle de Medicamentos contém todas as ferramentas necessárias para gerenciar o dia-a-dia de sua clínica médica!
        </p>

        <p class="fs-4 mt-3">
            Você tem a possibilidade de gerenciar o estoque, cadastrar funcionários e pacientes, além de registrar prescrições médicas.
        </p>

        <p class="fs-4 mt-4 text-secondary-emphasis">Clique em uma das opções abaixo para prosseguir:</p>

        <div class="d-flex flex-wrap justify-content-center justify-content-lg-start gap-3 mt-4">
            <a asp-controller="Funcionario" asp-action="Index" class="btn btn-outline-primary fw-semibold px-5 rounded-3 btn-menu">
                Funcionários
            </a>
            <a asp-controller="Fornecedor" asp-action="Index" class="btn btn-outline-primary fw-semibold px-5 rounded-3 btn-menu">
                Fornecedores
            </a>
            <a asp-controller="Paciente" asp-action="Index" class="btn btn-outline-primary fw-semibold px-5 rounded-3 btn-menu">
                Pacientes
            </a>
            <a asp-controller="Medicamento" asp-action="Index" class="btn btn-outline-primary fw-semibold px-5 rounded-3 btn-menu">
                Medicamentos
            </a>
            <a asp-controller="Prescricao" asp-action="Index" class="btn btn-outline-primary fw-semibold px-5 rounded-3 btn-menu">
                Prescrições
            </a>
            <a asp-controller="Estoque" asp-action="Index" class="btn btn-outline-primary fw-semibold px-5 rounded-3 btn-menu">
                Estoque
            </a>
        </div>
    </div>

    <div class="col-lg-5 order-0 order-lg-1">
        <img src="~/images/medicamentos.png" class="img-fluid" style="margin-top:-40px;" />
    </div>
</div>
